<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.orgxmlns http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet.css">
    <title>My tasks</title>
</head>

<body>
<div class="container">
    <div class="navbar">
        <a th:href="@{/tasks}">My tasks</a>
        <a th:href="@{/tasks/create}">Create new task</a>
        <a th:href="@{/mainPage}">My day</a>
        <!-- <a th:href="@{/myWeek}">My week</a> -->
        <!-- <a th:href="@{/myCategories}">My categories</a>  -->
    </div>


    <div class="mainBox">
        <h1>My tasks</h1>
        <table>
            <tr>
                <th>Title</th>
                <th>Created At</th>
                <th>Planned On</th>
                <th>Status</th>
                <th>Category</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr th:each="task : ${tasks}" class="tasks">
                <td th:text="${task.title}" class="tasks"></td>
                <td th:text="${task.createdAt}" class="tasks"></td>
                <td th:text="${task.plannedOn}" class="tasks"></td>
                <td th:text="${task.status}" class="tasks"></td>
                <td class="tasks"
                    th:style="'background-color:' + (${task.category != null} ? ${task.category.color} : ' ')">
                    <span th:text="${task.category != null ? task.category.name : ' '}"></span>
                <td> <a th:href="@{/tasks/update/{id}(id=${task.id})}">Edit</a></td>
                <td> <a th:href="@{/deleteTask}">Delete</a></td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>